{% extends "RTO/rtoindex.html" %}
{% block body %}
<form action="/Myapp/editveh_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <th>vehicle name</th>
      <td><input type="text" value="{{ data.vehicle_name }}" name="textfield" id="textfield" required class="form-control" /></td>
    </tr>
    <tr>
      <th>Registration Number</th>
      <td><input type="text" value="{{ data.reg_number }}" name="textfield2" id="textfield2" required class="form-control" /></td>
    </tr>
    <tr>
      <th>Owner name</th>
      <td><input type="text" value="{{ data.owner_name }}" name="textfield3" id="textfield3" required class="form-control" /></td>
    </tr>
    <tr>
      <th>Registration Date</th>
      <td><input type="date" value="{{ data.reg_date|date:'Y-m-d' }}" name="textfield4" id="textfield4" required class="form-control" /></td>
    </tr>
    <tr>
      <th>Vehicle Type</th>
      <td><input type="text" value="{{ data.Vehicle_type }}" name="textfield5" id="textfield5" required class="form-control" /></td>
    </tr>
    <tr>
      <th>Contact</th>
      <td><input type="text" value="{{ data.contact }}" name="textfield6" id="textfield6" required class="form-control" /></td>
    </tr>
    <tr>
      <th>Vehicle Picture</th>
      <td>
          <img src="{{ data.photo }}" height="80px" width="80px">
          <input type="file" value="{{ data.photo }}" name="fileField" id="fileField"  class="form-control" /></td>
    </tr>
    <tr>
      <th>Engine Number</th>
      <td><input type="text" value="{{ data.engine_number }}" name="textfield7" id="textfield7" required class="form-control" /></td>
    </tr>
    <tr>
      <th>Chase number</th>
      <td><input type="text" value="{{ data.chase_number }}" name="textfield8" id="textfield8" required class="form-control" /></td>
    </tr>
    <tr>
      <th>Year of manufacturing</th>
      <td><input type="text" value="{{ data.year_of_manufacturing }}" name="textfield9" id="textfield9" required class="form-control" /></td>
    </tr>
    <tr>
      <th>month of manufacturing</th>
      <td><input type="text" value="{{ data.month_of_manufacturing }}" name="textfield10" id="textfield10" required class="form-control" /></td>
    </tr>
    <tr>
      <th>Registration place</th>
      <td><input type="text" value="{{ data.reg_place }}" name="textfield11" id="textfield11" required class="form-control" /></td>
    </tr>
    <tr>
         <tr>
      <th>Adhaar Number</th>
      <td><input type="text" value="{{ data.aadhar_no }}" name="textfield12" id="textfield12" required class="form-control" /></td>
    </tr>
      <input type="hidden" value="{{ data.id }}" name="id">
      <td colspan="2" align="center"><input type="submit" name="Add" id="Add" value="Uodate" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
{% endblock %}