{% extends "RTO/rtoindex.html" %}
{% block body %}
<form action="/Myapp/vehicleadd_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <th>vehicle name</th>
      <td><input type="text" name="textfield" id="textfield" class="form-control" required pattern="[A-Z a-z]+" /></td>
    </tr>
    <tr>
      <th>Registration Number</th>
      <td><input type="text" name="textfield2" id="textfield2" class="form-control" required pattern="[0-9][A-Z]{8}" max="8" /></td>
    </tr>
    <tr>
      <th>Owner name</th>
      <td><input type="text" name="textfield3" id="textfield3" class="form-control" required pattern="[A-Z a-z]+" /></td>
    </tr>
    <tr>
      <th>Registration Date</th>
      <td><input type="date" name="textfield4" id="textfield4" class="form-control" required /></td>
    </tr>
    <tr>
      <th>Vehicle Type</th>
      <td><input type="text" name="textfield5" id="textfield5" class="form-control" required pattern="[A-Z a-z]+" /></td>
    </tr>
    <tr>
      <th>Contact</th>
      <td><input type="text" name="textfield6" id="textfield6" class="form-control" required pattern="[6789][0-9]{9}" max="9" /></td>
    </tr>
    <tr>
      <th>Vehicle Picture</th>
      <td><input type="file" name="fileField" id="fileField" class="form-control" /></td>
    </tr>
    <tr>
      <th>Engine Number</th>
      <td><input type="text" name="textfield7" id="textfield7" class="form-control" /></td>
    </tr>
    <tr>
      <th>Chase number</th>
      <td><input type="text" name="textfield8" id="textfield8" class="form-control" /></td>
    </tr>
    <tr>
      <th>Year of manufacturing</th>
      <td><input type="number" name="textfield9" id="textfield9" class="form-control" /></td>
    </tr>
    <tr>
      <th>month of manufacturing</th>
      <td><input type="text" name="textfield10" id="textfield10" class="form-control" /></td>
    </tr>
    <tr>
      <th>Registration place</th>
      <td><input type="text" name="textfield11" id="textfield11" class="form-control" /></td>
    </tr>
    <tr>
      <th>Adhaar Number</th>
      <td><input type="text" name="textfield12" id="textfield12" class="form-control" /></td>
    </tr>
      <tr>
      <th>Lisence Number</th>
      <td><input type="text" name="textfield13" id="textfield13" class="form-control" /></td>
    </tr>
      <td colspan="2" align="center"><input type="submit" name="Add" id="Add" value="Add" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
{% endblock %}
