{% extends "RTO/rtoindex.html" %}
{% block body %}
{#    <title>Upload Vehicle Certificate</title>#}
{#    <h1>Upload Vehicle Certificate</h1>#}
<form id="form1" name="form1" method="post" action="/Myapp/viewsusActrto_post/">
{#    <title>Upload Vehicle Certificate</title>#}
{#    <h1>Upload Vehicle Certificate</h1>#}

{% csrf_token %}
    <table class="pull-left">
        <tr>
            <th>from date</th>
            <td><input type="date" name="textfield" class="form-control"/></td>
{#            <td><input type="submit" value="search"/></td>#}
            <th> to </th>

            <td><input type="date" name="textfield2" class="form-control"/></td>
            <td><input type="submit" name="textfield3" value="search" class="btn btn-info"/></td>
        </tr>
    </table>
  <table class="table table-bordered">
    <tr>
      <th>sl no</th>
      <th>vehicle</th>
        <th>Registration Number</th>
      <th>Activity</th>
      <th>Date of Reporting</th>
        <th>Police Station</th>
        <th>Place of Police Station</th>



{#      <td>&nbsp;</td>#}
{#      <td>&nbsp;</td>#}
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}&nbsp;</td>
      <td>{{ i.VEHICLE.vehicle_name }}&nbsp;</td>
              <td>{{ i.VEHICLE.reg_number }}&nbsp;</td>
      <td>{{ i.activity }}&nbsp;</td>
      <td>{{ i.date }}&nbsp;</td>
        <td>{{ i.POLICE.username }}&nbsp;</td>
        <td>{{ i.POLICE.place }}&nbsp;</td>
{#      <td><a href="/Myapp/editsusactivity/{{ i.id }}">Edit</a></td>#}
{#      <td><a href="/Myapp/deletesusactity/{{ i.id }}">Delete</a></td>#}
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
