{% extends "RTO/rtoindex.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/Myapp/viewsusActrto_post/">
{% csrf_token %}
    <table class="table table-bordered">
        <tr>
            <td>from date</td>
            <td><input type="date" name="textfield" class="form-control"/></td>
{#            <td><input type="submit" value="search"/></td>#}
            <td><p> to </p></td>

            <td><input type="date" name="textfield2" class="form-control"/></td>
            <td><input type="submit" name="textfield3" value="search" class="btn btn-info"/></td>
        </tr>
    </table>
  <table class="table table-bordered">
    <tr>
      <td>sl no</td>
      <td><p>vehicle</p></td>
        <td><p>Vehicle Registration Number</p></td>
      <td>Activity</td>
      <td>Date of Reporting</td>
        <td>Police Station</td>
        <td>Place of Police Station</td>



{#      <td>&nbsp;</td>#}
{#      <td>&nbsp;</td>#}
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}&nbsp;</td>
      <td>{{ i.VEHICLE.vehicle_name }}&nbsp;</td>
              <td>{{ i.VEHICLE.reg_number }}&nbsp;</td>
      <td>{{ i.activity }}&nbsp;</td>
      <td>{{ i.date }}&nbsp;</td>
        <td>{{ i.POLICE.username }}&nbsp;</td>
        <td>{{ i.POLICE.place }}&nbsp;</td>
{#      <td><a href="/Myapp/editsusactivity/{{ i.id }}">Edit</a></td>#}
{#      <td><a href="/Myapp/deletesusactity/{{ i.id }}">Delete</a></td>#}
    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
