{% extends "Admin/adminindex.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/Myapp/editpolicestation_post/" enctype="multipart/form-data">
    {% csrf_token %}


    <input type="hidden" name="id" value="{{ data.id }}">
 <table class="table table-bordered">
  <tr>
    <th>Username</th>
    <td><input type="text" name="textfield" id="textfield" value="{{ data.username }}" required class="form-control" pattern="[A-Z a-z]+" /></td>
  </tr>
  <tr>
    <th>Profile Picture</th>
    <td><img src="{{ data.photo }}" height="80px" width="80px"> <input type="file" name="textfield1" id="textfield1" /></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><input type="email" name="textfield2" id="textfield2" value="{{ data.email }}" required class="form-control" /></td>
  </tr>
  <tr>
    <th>Phone</th>
    <td><input type="text" name="textfield3" id="textfield3" value="{{ data.phone }}" required class="form-control" pattern="[6789][0-9]{9}" max="9" /></td>
  </tr>
  <tr>
    <th>Place</th>
    <td><input type="text" name="textfield4" id="textfield4" value="{{ data.place }}" required class="form-control" /></td>
  </tr>
     <tr>
    <th>Pin</th>
    <td><input type="text" name="textfield9" id="textfield9" value="{{ data.pin }}" required class="form-control" pattern="[0-9]{6}" max="6" /></td>
  </tr>
     <tr>
    <th>Post</th>
    <td><input type="text" name="textfield5" id="textfield5" value="{{ data.post }}" required class="form-control" /></td>
  </tr>
  <tr>
    <th>District</th>
    <td><input type="text" name="textfield6" id="textfield6" value="{{ data.district }}" required class="form-control" pattern="[A-Z a-z]+" /></td>
  </tr>
     <tr>
         <th>State</th>
    <td><input type="text" name="textfield7" id="textfield7" value="{{ data.state }}" required class="form-control" pattern="[A-Z a-z]+" /></td>
  </tr>
  <tr>
    <th>SI Name</th>
    <td><input type="text" name="textfield8" id="textfield8" value="{{ data.siname }}" required class="form-control" pattern="[A-Z a-z]+" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="button" id="button" value="Update" class="btn btn-success" /></td>
  </tr>
</table>

</form>
{% endblock %}
