<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/Myapp/change_password/">Change password</a><br>
<a href="/Myapp/rto_management/">RTO Add</a><br>
<a href="/Myapp/rto_view/">View RTO</a><br>
<a href="/Myapp/police_station/">Add Police Station</a><br>
<a href="/Myapp/police_station_view/">View Police Station</a><br>
<a href="/Myapp/scrap_dealer_approve/">Approved Scrap Dealers</a><br>
<a href="/Myapp/scrap_dealer_view/">View Scrap Dealers</a><br>
<a href="/Myapp/view_rejected_scrap_dealer/">View Rejected Scrap Dealers</a><br>
<a href="/Myapp/scrapped_vehicle_view/">View Scrapped Vehicle</a><br>
<a href="/Myapp/view_users/">View Users</a><br>
</body>
</html>