{% extends "Admin/adminindex.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/Myapp/policestation_post/" enctype="multipart/form-data" data-toggle="validator">
    {% csrf_token %}
 <table class="table table-bordered table-hover">
  <tr>
    <th>Username</th>
    <td><input type="text" name="textfield" id="textfield" class="form-control" required pattern="[A-Z a-z]+" /></td>
  </tr>
  <tr>
    <th>Profile Picture</th>
    <td><input type="file" name="textfield1" id="textfield1" class="form-control" required /></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><input type="email" name="textfield2" id="textfield2" class="form-control" required  /></td>
  </tr>
  <tr>
    <th>Phone</th>
    <td><input type="text" name="textfield3" id="textfield3" class="form-control" required pattern="[6789][0-9]{9}" max="9" /></td>
  </tr>
  <tr>
    <th>Place</th>
    <td><input type="text" name="textfield4" id="textfield4" class="form-control" required /></td>
  </tr>
     <tr>
    <th>Pin</th>
    <td><input type="text" name="textfield9" id="textfield9" class="form-control" required pattern="[0-9]{6}" max="6" /></td>
  </tr>
     <tr>
    <th>Post</th>
    <td><input type="text" name="textfield5" id="textfield5"class="form-control" required /></td>
  </tr>
  <tr>
    <th>District</th>
    <td><input type="text" name="textfield6" id="textfield6" class="form-control" required pattern="[A-Z a-z]+" /></td>
  </tr>
     <tr>
         <th>State</th>
    <td><input type="text" name="textfield7" id="textfield7" class="form-control" required pattern="[A-Z a-z]+" /></td>
  </tr>
  <tr>
    <th>SI Name</th>
    <td><input type="text" name="textfield8" id="textfield8" class="form-control" required pattern="[A-Z a-z]+" /></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input type="submit" name="button" id="button" value="ADD" class="btn btn-success btn-outline-dark." /></td>
  </tr>
</table>

</form>
{% endblock %}
