<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/Myapp/scrapped_vehicle_view_post/">
    {% csrf_token %}
    <table>
        <tr>
            <td><input type="text" name="textfield"/></td>
            <td><input type="submit" value="search"/></td>
        </tr>
    </table>
  <table width="200" border="1">
    <tr>
      <td>sl no</td>
      <td>vehicle name</td>
      <td>Registration number</td>
      <td>owner name</td>
      <td>Registration Date</td>
      <td>Registariton place</td>
      <td>Vehicle Type</td>
      <td>contact</td>
      <td>Vehicle picture</td>
      <td>Engine number</td>
      <td>Chase number</td>
      <td>year of manufacturing</td>
      <td>month of manufacturing</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
</html>
