{% extends "police station/policeindex.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/Myapp/addsuspeciousactvity_post/">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td >Vehicle</td>
      <td>
          <select name="vehicle" class="form-control">
              {% for i in data %}
              <option value="{{ i.id }}">{{ i.vehicle_name }}</option>
{#              <option>{{ i.reg_number }}</option>#}
{#              <option>{{ i.owner_name }}</option>#}
{#              <option>{{ i.reg_date }}</option>#}
{#              <option>{{ i.reg_place }}</option>#}
{#              <option>{{ i.Vehicle_type }}</option>#}
{#              <option>{{ i.contact }}</option>#}
{#              <option>{{ i.photo }}</option>#}
{#              <option>{{ i.engine_number }}</option>#}
{#              <option>{{ i.chase_number }}</option>#}
{#              <option>{{ i.year_of_manufacturing }}</option>#}
{#              <option>{{ i.month_of_manufacturing }}</option>#}
{#              <option>{{ i.status }}</option>#}
              {% endfor %}
          </select>
      </td>
    </tr>
    <tr>
      <td>Activity</td>
      <td><input type="text" name="textfield2" id="textfield2" required="required" class="form-control" required="required" /></td>
    </tr>
    <tr>
      <td>Date</td>
      <td><input type="date" name="textfield3" id="textfield3" class="form-control" required/></td>
    </tr>
    <tr>
      <td colspan="2" align="center">
      <input type="submit" name="Addactivity"  id="Addactivity" value="Add" class="btn btn-success" /></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
{% endblock %}