{% extends "user/userindex.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/Myapp/edituserprofile_post/"enctype="multipart/form-data">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <th>username</th>
      <td><input type="text" value="{{ data.username }}" name="textfield" id="textfield" class="form-control" /></td>
    </tr>
    <tr>
      <th>email</th>
      <td><input type="text" value="{{ data.email }}" name="textfield2" id="textfield2" class="form-control" /></td>
    </tr>
    <tr>
      <th>phone</th>
      <td><input type="text" value="{{ data.phone }}" name="textfield3" id="textfield3" class="form-control" /></td>
    </tr>
    <tr>
      <tr>
      <th>Photo</th>
      <td>
          <img src="{{ data.photo }}" width="50px" height="50px" alt=""/>
          <input type="file" name="textfield12" id="textfield12" class="form-control" /></td>
{#    <tr>#}
{#      <th>Gender </th>#}
{#      <td><p>#}
{#          <input type="radio" name="RadioGroup1" value="Male" id="RadioGroup1_0" {% if data.gender == 'Male' %}checked {% endif %} />#}
{#          Male#}
{#        <br />#}
{#          <input type="radio" name="RadioGroup1" value="Female" id="RadioGroup1_1" {% if data.gender == 'Female' %}checked {% endif %} />#}
{#          Female#}
{#        <br />#}
{#      </p></td>#}
{#    </tr>#}

      <tr>
    <th>Gender</th>
        <td>
         <select name="gender" id="gender" class="form-control">
                <option value="Male" {% if data.gender == 'Male' %}selected {% endif %} >Male</option>
                <option value="Female" {% if data.gender == 'Female' %}selected {% endif %} >Female</option>
        </select>
        </td>
    </tr>


    <tr>
      <th>dob</th>
      <td><input type="date" value="{{ data.dob|date:'Y-m-d' }}" name="textfield5" id="textfield5" class="form-control" /></td>
    </tr>
    <tr>
      <th>place</th>
      <td><input type="text" value="{{ data.place }}" name="textfield6" id="textfield6" class="form-control" /></td>
    </tr>
    <tr>
      <th>post</th>
      <td><input type="text" value="{{ data.post }}" name="textfield7" id="textfield7" class="form-control" /></td>
    </tr>
    <tr>
      <td>pin</td>
      <td><input type="text" value="{{ data.pin }}" name="textfield8" id="textfield8" class="form-control" /></td>
    </tr>
    <tr>
      <th>District</th>
      <td><input type="text" value="{{ data.District }}" name="textfield9" id="textfield9" class="form-control" /></td>
    </tr>
    <tr>
      <th>State</th>
        <td><input type="text" value="{{ data.state }}" name="textfield11" id="textfield11" class="form-control"></td>
    </tr>
    <tr>
      <th>Aadhar Number</th>
      <td><input type="text" value="{{ data.aadhar_no }}" name="textfield10" id="textfield10" class="form-control" /></td>
    </tr>
      <td colspan="2" align="center"><input type="submit" name="signup" id="signup" value="Update" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
{% endblock %}
