<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#<a href="/Myapp/signup_dealer/">Signup</a><br>#}
<a href="/Myapp/dealer_viewprofile/">View Profile</a><br>
<a href="/Myapp/updateprofile/">Update Profile</a><br>
{#<a href="/Myapp/editveh/">Edit Vehicle</a><br>#}
<a href="/Myapp/viewrequest/">View Request</a><br>
<a href="/Myapp/viewsusAct/">View suspecious Activity</a><br>
<a href="/Myapp/viewverifystats/">View Verify status</a><br>
<a href="/Myapp/scrapstationup/">scrap station</a><br>
</body>
</html>{#<a href="/Myapp//"></a><br>#}
