<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#<a href="/Myapp/signup_dealer/">Signup</a><br>#}
{#<a href="/Myapp/usersignup/">Sign Up</a><br>#}
<a href="/Myapp/changepasswd/">Change Password</a><br>
<a href="/Myapp/userviewprofile/">View profile</a><br>
<a href="/Myapp/viewvehicle/">View Vehicle</a><br>
<a href="/Myapp/addscraprequest/">Add Scrapping Request</a><br>
{#<a href="/Myapp/viewverifystats/">View Verify status</a><br>#}
{#<a href="/Myapp/scrapstationup/">scrap station</a><br>#}
</body>
</html>
