<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action=""><table width="200" border="1">
  <tr>
    <td><img src="{{ data.photo }}" height="80px" width="80px" alt=""/>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>username</td>
    <td>{{ data.username }}&nbsp;</td>
  </tr>
  <tr>
    <td>email</td>
    <td>{{ data.email }}&nbsp;</td>
  </tr>
  <tr>
    <td>phone</td>
    <td>{{ data.phone }}&nbsp;</td>
  </tr>
  <tr>
    <td>Gender</td>
    <td>{{ data.gender }}&nbsp;</td>
  </tr>
  <tr>
    <td>date of birth</td>
    <td>{{ data.dob }}&nbsp;</td>
  </tr>
  <tr>
    <td>Adress</td>
    <td>{{ data.place }}<br/>, {{ data.post }}<br/>, {{ data.pin }}<br/>, {{ data.District }}<br/>, {{ data.state }}<br/>&nbsp;</td>
  </tr>
  <tr>
    <td>Aadhar number</td>
    <td>{{ data.aadhar_no }}&nbsp;</td>
  </tr>
  <tr>
    <td><a href="/Myapp/edituserprofile/">Edit</a></td>
    <td>&nbsp;</td>
  </tr>
</table>

</form>
</body>
</html>
