{% extends "user/userindex.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/Myapp/viewvehicle_post/">
    {% csrf_token %}
    <table class="table table-bordered">
        <tr>
            <td><input type="text" name="textfield" class="form-control"/></td>
            <td><input type="submit" value="search" class="btn btn-info"/></td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <td>Vehicle Model</td>
            <td>Owner Name</td>
            <td>Registration Number</td>
            <td>Licence Number</td>
            <td>Vehicle Type</td>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.VEHICLE.vehicle_name }}</td>
            <td>{{ i.VEHICLE.owner_name }}</td>
            <td>{{ i.VEHICLE.reg_number }}</td>
            <td>{{ User.lic_no}}</td>
            <td>{{ i.VEHICLE.Vehicle_type }}</td>
            <td><a href="{{ i.file }}" download="">Download Certificate</a> </td>

        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}